body {
  background: #111;
  color: #0f0;
  font-family: monospace;
  text-align: center;
}

canvas {
  background: #000;
  border: 4px solid #0f0;
  display: block;
  margin: 20px auto;
}

.info {
  color: #aaa;
}
